<ion-view title="Mapa de Paradas">
    <ion-nav-buttons side="right">                
        <button ng-click="vm.locate();" class="button-icon icon ion-pinpoint"></button>
    </ion-nav-buttons>



    <ion-content  scroll="false" data-tap-disabled="true">
        <leaflet lf-center="vm.map.center" markers="vm.map.markers" height="100%" width="100%">
        </leaflet>
 <!--        <button ng-click="vm.openWizard()" class="button button-block button-energized">
            Crear parada
        </button> -->
        <p>marker: {{vm.map.markers.now}}</p>
    </ion-content>
</ion-view>
