

span.modification-label {
    color: red;
    right: .5em;
    top: .5em;
    position: absolute;
    font-size: .8em;
}

.ion-autocomplete-container{
	z-index:12;
}


.picture-wrapper{
	position: relative;
    width: 90%;
    margin-left: 5%;
    height: 25vh;
    border: 1px solid red;
    margin-top: 1vh;

	img{
		height: 100%;
	}

	.caption{
		width: 42%;
		height:100%;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    background: rgba(0, 0, 0, 0.57);
	    color: white;
	    padding: .7em .5em;
	    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	.actions-bar{
		width: 42%;
		position:absolute;
		bottom:0px;
		right: 0px;
		display: flex;
		flex-direction: column;


		button.button.button-fab{
			zoom:.7;
			display: block;
			position: relative;
			margin-bottom: 1em;
			margin-left: 1em;

			
		}


		.action{
			height:10%;
			width: 20%;
			border-radius:10%;
			background:white;
		}
	}

}