<!-- <ion-view view-title="Photo">	
    <ion-content data-tap-disabled="true">
	    <div class="list">
		    <button  ng-click="takePicture()" class="button button-block">take picture</button>
		</div>

		<img ng-src = "{{vm.picture}}">
    </ion-content>
</ion-view> 




 <button ng-show="vm.ready" ng-click="next()" class="button button-block">Buscar</button> -->


<ion-view view-title="Linea y ramal">
    <div class="list">
	  
	  <button  ng-click="vm.takePicture()" class="button button-block">take picture</button>

  <button  ng-click="vm.takePicture()" class="button button-block">take picture</button>
	  	<img ng-src = "{{vm.picture}}">
	    <button class="button button-block">Siguiente</button>
	</div>
</ion-view> 

