$ba-black-1:                           #111 !default;
$ba-black-2:                           #333 !default;
$ba-gray-1:                            #666 !default;
$ba-gray-2:                            #888 !default;
$ba-gray-3:                            #aaa !default;
$ba-gray-4:                            #ccc !default;
$ba-white-2:                           #e5e5e5 !default;
$ba-white-1:                           #f5f5f5 !default;

$ba-light-danger:                      #d13f34 !default;
$ba-light-warning:                     #ff9624 !default;
$ba-light-primary:                     #ffd300 !default;
$ba-light-success:                     #9bc12b !default;
$ba-light-info:                        #3cb5b1 !default;
$ba-light-blue:                        #4265bc !default;
$ba-light-violet:                      #9c43a3 !default;
$ba-light-pink:                        #c64b7d !default;

$ba-dark-danger:                       #ba2727 !default;
$ba-dark-warning:                      #ef7d30 !default;
$ba-dark-primary:                      #ffbc00 !default;
$ba-dark-success:                      #6eaa2e !default;
$ba-dark-info:                         #00a59d !default;
$ba-dark-blue:                         #23569e !default;
$ba-dark-violet:                       #8339aa !default;
$ba-dark-pink:                         #b52d81 !default;
